<!DOCTYPE html>
<html>
<head>
    <title>
        login 
    </title>
    {% load static %}
    <link rel="icon" href="{% static 'logo.jpg'%}" type="image/x-icon">
    <link rel="stylesheet " href="{% static 'login.css'%}?v=1.1">
    

   
    </head>
    <body>
        
        
        
          <div class="log">
            <div class='button-box'>
                <div id='btn'></div>
                <button type='button' onclick='login()'class='toggle-btn'>user</button>
                <button type='button' onclick='admin()' class='toggle-btn'>Admin</button>
            </div>
            
             <div class="form">
               
                
                     
                   <form method="POST">
                    {% csrf_token %} 
                     <input type="text" placeholder="user name" name="uname" required/>
                     <input type="password" placeholder="password" name="pwd"  required/>
                     <button type="submit"> Login </button>
                     <div> 
                         {% if messages %}
                         {% for msg in messages %}
                         <p id="msg" style="color: red;">{{msg}}</p>
                         {% endfor %}
                         {% endif %}

                     </div>
                     <p> <a class="fgpw" href="forgotpw.html"> Forgot password? </a></p>
                     <p class="message">Don't have an account? <a href="home.html"> Create account </a></p> 
                      
                   </form>
                
              </div>
            </div> 
       

        <script >
                function admin(){
                window.location="admin.html";
            }

                function login(){
                window.location="in.html";
            }
         
         </script>
        
    </body>
</html>