

 .login-page{
    width: 360px;
    padding:10% 0 0;
     margin:auto; 
} 
 .form{
     position: center;
     z-index: 1;
     background: #b4d2e4;
     max-width: 420px;
     margin: 0  auto;
     margin-top: 15rem;
     padding: 50px;
     text-align: center;
 }

 .form input{
     font-family: "Roboto",sans-serif;
     outline: 1;
     background:cornsilk;
     width: 100%;
     border:0;
     margin: 0 0 15px;
     padding: 15px;
     box-sizing: border-box;
     font-size: 14px;
 }
 .form button{
     font-family: "Roboto", sans-serif;
     text-transform: uppercase;
     outline: 0;
     background: #1ac6f4;
     width:100%;
     border:0;
     padding: 15px;
     color: #ffffff;
     font-size: 14px;
     cursor: pointer;
 }
 .form button:hover,.form button:active{
     background: #43A047;
 }

 .form .message{
     margin:15px;
     color: #1D4c40;
     font-size: 12px;
 }
 .form .message a{
     color: #1D4c40;
     text-decoration: none;
 }
 .form .message a:hover,.form .message a :active{
    color: #e23213;
    text-decoration: none;
}
 

 .form b{
     
     margin:15px;
     font-size: 12px;
    color: #1D4c40;
    text-decoration: none;
}
.form  b:hover,.form .message a :active{
    color: #e23213;
    text-decoration: none;
}
 
.form .fgpw {
    margin:15px;
     color: #1D4c40;
     font-size: 12px;

}
.form  .fgpw:hover,.form .fgpw :active{
    color: #e23213;
    text-decoration: none;
}

 /* .admin{
    margin:15px;
    color: #1D4c40;
    font-size: 12px;
    margin-left: 50px;

   
} */
 .button-box
{
	width:220px;
	margin:35px auto;
	position:relative;
	box-shadow: 0 0 20px 9px #ff61241f;
	border-radius: 30px;

   
}
 .toggle-btn
{
	padding:10px 30px;
	cursor:pointer;
	
	border:0;
	outline: none;
	position: relative;
    color: blanchedalmond;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #1ac6f4;
    
    font-size: 14px;
}
 #btn
{
	top: 0;
	left:0;
	position: absolute;
	width: 110px;
	height: 100%;

   
	
}
.toggle-btn:hover,.toggle-btn:active{
    background: #43A047;
}

    
   
    
